#aboutMeTitle {
    font-size: 80px;
    font-family: monospace;
    padding: 200px 0 0 200px;
    text-align: left;
}
#aboutText {
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
}
#hobbiesContainer {
    background-color: blue;

}