#aboutMeDiv{
    height: 100vh;
}
#aboutMeTitle {
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    padding: 120px 0 0 200px;
    text-align: left;
}
#aboutText {
    font-size: 25px;
    padding: 20px 100px 20px 100px;
    text-align: left;
}
/* #hobbiesContainer {
    

} */