#allHobbiesDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#eachHobbyDiv {
    background-color: black;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 30px;
}
.hobbyImg {
    height: 200px;
    width: 200px;
    z-index: 1;
}
.hobbyName {
    position: relative;
    text-align: center;
    align-items: center;
    top: -70%;
    z-index: 10;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 3px white;
}
.hobbySkill {
    position: relative;
    text-align: center;
    align-items: center;
    top: -70%;
    z-index: 10;
    font-size: 20px;
}
.hobbySkillText {
    position: relative;
    text-align: center;
    align-items: center;
    top: -70%;
    z-index: 10;
    font-size: 20px;
}