#hobbiesTitle {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 100px 0 100px;
    text-align: left;
}
#allHobbiesDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#eachHobbyDiv {
    border: 10px solid black;
    width: 200px;
    height: 200px;
    margin: 20px;
}
#eHTopLayerDiv {
    width: 100%;
    height: 100%;
    display: block;
}
#eHTopLayerDiv:hover {
    width: 200px;
    height: 200px;
    display: none;
}
#eHBttmLayerDiv {
    width: 200px;
    height: 200px;
    display: none;
}
#eHBttmLayerDiv:hover {
    width: 200px;
    height: 200px;

}
.hobbyImg {
    height: 200px;
    width: 200px;
}
.hobbyImg:hover {
    display: none;
}
.hobbyName {
    position: relative;
    text-align: center;
    align-items: center;
    top: -70%;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 3px white;
}
.hobbyName:hover {
    display: none;
}
.hobbySkill {
    position: relative;
    text-align: center;
    align-items: center;
    top: -70%;
    font-size: 20px;
}
.hobbySkillText {
    position: relative;
    text-align: center;
    align-items: center;
    top: -70%;
    font-size: 20px;
}