#landingName {
    text-align: center;
    font-size: 200px;
    font-family: monospace;
    padding: 100px 0 100px 0;
    text-shadow: 5px 5px 5px grey;
    font-weight: bold;
}
#landingText {
    font-size: 35px;
    text-align: center;
}