#landingDiv {
    height: 100vh;
    margin: 0;
}
#landingName {
    text-align: center;
    font-size: 120px;
    font-family: monospace;
    padding: 200px 0 100px 0;
    text-shadow: 5px 5px 5px grey;
    font-weight: bold;
}
#landingText {
    font-size: 30px;
    text-align: center;
}
#fullConstructDiv {
    background-color: red;
    display: flex;
    margin-top: 15px;
    align-items: center;
}
#constructionText {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.constructIcons {
    font-size: 100px;
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}