nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 40px;
    margin: 0;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 85px;
    z-index: 20;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 20px 30px 20px 30px;
}
nav a:hover {
    background-color: white;
    color: black;
}
#navIconsDiv {
    display: flex;
    width: 250px;
    justify-content: space-around;
}
.navIcons:hover {
    background-color: white;
    color: black;
    display: inline;

}