#modalContainer {
    z-index: 15;
}
#fullModalDiv {
    height: 400px;
    width: 600px;
    
    background-color: white;
}
#modalCloseBtn {
    float: right;
    font-weight: bold;
    font-size: 20px;
}
#modalTitle {
    font-size: 25px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
}
#modalText {
    margin-left: 30px;
}
.githubLink {
    text-align: center;
}