#skillsDiv {

}
#skillsTitle {
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    padding: 120px 0 0 200px;
    text-align: left;
}
#skillsText {
    font-size: 25px;
    padding: 30px 100px 0 100px;
    text-align: left;
}
.skillsToolsSubTitles {
    font-size: 30px;
    font-weight: bold;
    padding: 40px 100px 8px 100px;
    text-align: left;
}
#skillsBullets {
    font-size: 25px;
    padding: 0 100px 150px 130px;
    text-align: left;
}